<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
        <%= image_tag @user.get_profile_image(100,100) %>
          <table class="table">
          <tbody><tr></tr>
            <tr>
            <th>name</th>
            <th><%= @user.name %></th>
            </tr>
            <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
            </tr>
          </tbody>
        </table>
        <%= link_to edit_user_path(current_user.id), class:"btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
          <% end %>
            <h1>New book</h1>
            <% if @book.errors.any? %>
              <%= @book.errors.count %>件のエラーが発生しました
              <ul>
              <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
              </ul>
            <% end %>
            <%= form_with model: @book do |f| %>
              <h4>Title</h4>
              <%= f.text_field :title %>
              <h4>Opinion</h4>
              <%= f.text_area :body %>
            <%= f.submit 'Create Book' %>
            <% end %>
    </div>


      <div class="col-md-8 offset-md-1">
        <table class="table">
          <h2>Users</h2>
              <thead>
              <tr>
              <th>image</th>
              <th>name</th>
              </tr>
              </thead>
              <tbody>
              <% @users.each do |user| %>
              <tr>
              <td><%= image_tag user.get_profile_image(80,80) %></td>
              <td><%= user.name %></td>
              <td><%= link_to user_path(user.id) do %>
                    Show
                  <% end %>
              </td>
              </tr>
              <% end %>
            </tbody>
        </table>
      </div>
  </div>
</div>
